:root{
    --fst-color: #7f93ae; 
    --snd-color: #00023f;
    --trd-color: #000361;
    --fth-color:#ffffff;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--trd-color); /* scrollbar color*/
}
::-webkit-scrollbar-track {
    background-color: var(--fst-color); /* background color*/
}
body{
    font-weight: bold;
    font-size: 1rem;
    color: var(--trd-color);
    background-color: var(--fth-color);
    margin: 0px;
    padding: 0px;
    height: 99vh;
    position: relative; /*delete if not used*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: monospace;
}
.header{ /*             HEADER                */
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    background-color: var(--fst-color);
}
.header .logo{
    height: 50px;
    grid-row: span 2;
}
.header .displayTurn{
    grid-row: span 2;
    background-color: var(--snd-color);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    border: 2px solid var(--fth-color);
    color: var(--fth-color);
}
.header .resetGame{
    border: 1px solid var(--trd-color);
    border-radius: 5px;
    color: var(--trd-color);
    font-weight: bold;
    width: 50%;
    height: 120%;
}
.main{ /*               MAIN                  */
    padding: 2rem 2rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}
.main .gridContainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    justify-self: center;
}
.main .gridContainer .grid{ /*    grids      */ 
    border-radius: 15px;
    background-color: var(--trd-color);
}
.main .gridContainer .grid:hover{
    background-color: var(--fst-color);
    border: 1px solid var(--trd-color);
}
.main .displayScore{       /*    score        */
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.main .displayScore .child{
    background-color:var(--snd-color);
    padding: .3rem;
    border-radius: 10px;
    width: 5rem;
}
.main .displayScore .tie{
    background-color: var(--fst-color);
}
.main .displayScore .child .scoreTitle{
    color: white;
    text-align: center;
    font-weight: 900;
}
.main .displayScore .child .scoreNumber{
    font-size: 1.5rem;
    text-align: center;
    color: var(--fth-color);
}
.dialog { /*            DIALOG                */
    color: var(--fth-color);
    font-size: 1.8rem;
    background-color: var(--snd-color);
    border-radius: 10px;
}
.dialog::backdrop{
    background-color: #7f93ae;
    opacity: .96;
}
.dialog .modalContainer{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap:2rem;
}
.modalContainer .imgModal{
    height: 3rem;
}
.modalContainer .choose img{
    height: 6rem;
    padding: .5rem;
    border-radius: 10px;
    background-color: var(--trd-color);
}
.choose {
    display: flex;
    justify-content: space-evenly;
}
.modalContainer .choose img:hover{
   background-color: var(--fst-color);
}
.modalContainer .titleGame{
    grid-row: span 2;
    align-self: center;
    
}

.modalContainer .startGame{
    padding: .6rem;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 8px;
    background-color: var(--fst-color);
    border: 3px solid var(--trd-color);
    color: white;
} 
.startGame:hover{
    background-color: var(--fth-color);
    color: var(--snd-color);
}
.footer{
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: .5rem;
}