:root{
    --fst-color: #f59e0b; 
    --snd-color: #f97316;
    --trd-color: #c2410c;
    --fth-color:#fef3c7;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--trd-color); /* scrollbar color*/
}
::-webkit-scrollbar-track {
    background-color: var(--fst-color); /* background color*/
}
body{
    font-weight: bold;
    font-size: 1rem;
    color: var(--trd-color);
    background-color: var(--fth-color);
    margin: 0px;
    padding: 0px;
    height: 99vh;
    position: relative; /*delete if not used*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: monospace;
}
.header{ /*             HEADER                */
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    background-color: var(--fst-color);
}
.header .displayTurn{
    grid-row: span 2;
    background-color: var(--snd-color);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    border: 1px solid var(--trd-color);
}
.header .resetGame{
    border: 1px solid var(--trd-color);
    border-radius: 5px;
    color: var(--trd-color);
    font-weight: bold;
    width: 50%;
    height: 120%;
}
.main{ /*               MAIN                  */
    padding: 2rem 2rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}
.main .gridContainer{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    justify-self: center;
}
.main .gridContainer .grid{ /*    grids      */ 
    border-radius: 15px;
    background-color: var(--trd-color);
}
.main .gridContainer .grid:hover{
    background-color: var(--fst-color);
}
.main .displayScore{       /*    score        */
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.main .displayScore .child{
    background-color: var(--snd-color);
    padding: .3rem;
    border-radius: 10px;
    width: 5rem;
}
.main .displayScore .tie{
    background-color: var(--fst-color);
}
.main .displayScore .child .scoreTitle{
    color: var(--trd-color);
    text-align: center;
    font-weight: 900;
}
.main .displayScore .child .scoreNumber{
    font-size: 1.5rem;
    text-align: center;
    color: var(--fth-color);
}
.dialog { /*            DIALOG                */
    color: white;
    font-size: 1rem;
    background-color: var(--bg-color);
    border-radius: 10px;
}
.dialog::backdrop{
    background-color: rgb(0, 7, 50);
    opacity: 1;
}
.dialog .close{
    padding: .6rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}
.footer{
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: .5rem;
}